body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  color: white;
}
h3{
  color: white;
  margin-left: 30px;
}
h2{
  font-weight: lighter;
}
h5 {
  color: white;
}
p {
   margin-left: 30px;
}

.illustration{

}
.jobtitle {
  text-align: center;
  color:rgb(223, 161, 223)
}

.topnav {
  overflow: hidden;
  background-color:rgb(170, 133, 170);
  border-radius: 30px;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: white;
  color: black;
  padding: 10px 12px;
  text-align: center;
}
.footer {
  position: fixed;
  left; 0;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  margin-left: 10px;
  font-size: 14px;
  color: rgb(223, 161, 223);
}
.intro{
  margin-left: 30px;
  font-family: sans-serif;
  font-size: 23px
}

.highlight{
  color:white;
  text-decoration:underline;
  text-decoration-color: rgb(223, 161, 223);
  text-decoration-thickness: 2px;
}
.highlight:hover {
  padding: 0 12px;
  background-color: rgb(223, 161, 223);
  color: white;
}
.highlight:focus{
  outline:thick;
}
.socials{
  color:rgb(223, 161, 223);
  text-decoration:underline;
  text-decoration-color: white;
  text-decoration-thickness: 2px;
}
.socials:hover{
  padding: 0 12px;
  background-color: violet;
  background-color: rgb(223, 161, 223);
  color: white;
}



.footer2{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  margin-left: 10px;
  font-size: 14px;
  color: violet;
}
.say-hello{
  font-size: 12px;
}