body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  color: white;
}

h3{
  color: white;
}
h4{
  font-weight:normal;
}
p {
  margin-left: 0px;
  }

.container{
  display: block;
}


.jobtitle {
  text-align: center;
  color:rgb(223, 161, 223)
}

.topnav {
  overflow: hidden;
  background-color:rgb(170, 133, 170);
  border-radius: 30px;

}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 20px;
  background-size: 230% 100%;
}
.topnav a:hover {
  background-color: white;
  color: black;
  color:rgb(170, 133, 170);
  padding: 12px 12px;
  text-align: center;


  transition: .5s;
  background: linear-gradient(to right, white);
  background-position: right bottom;
    
}
.colorText{
  color: #f1e7b6;
}
.footer {
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  margin-left: 80px;
  font-size: 14px;
  color: rgb(223, 161, 223);
}
.intro{
  text-align: center;
  font-family: sans-serif;
  font-size: 23px
}

.highlight{
  color:white;
  text-decoration:underline;
  text-decoration-color: rgb(223, 161, 223);
  text-decoration-thickness: 2px;
}
.highlight:hover {
  padding: 0 12px;
  background-color: rgb(223, 161, 223);
  color: white;
}
.highlight:focus{
  outline:thick;
}
.socials{
  color: white;
  text-decoration:underline;
  text-decoration-color:  rgb(223, 161, 223);
  text-decoration-thickness: 2px;
}
.socials:hover{
  padding: 0 12px;
  background-color: rgb(223, 161, 223);
  color: white;
}
.contact{
  cursor: pointer;
  padding-right: 3%;
}
.contact:hover{
  transition: 0.9s;
  transform: rotate(-10deg);
}
.say-hello{
  font-size: 12px;
  color:rgb(223, 161, 223);
  display: block;
  text-align: center;
  margin-left: 0px;
}
.experienceTitles{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: strong;
  color: rgb(223, 161, 223);
  display: block;
  margin-inline-end: 0px;
  margin-inline-end: 0px;
}
.experienceExplain{
  margin-left: 0px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  font-weight: lighter;
}
.experienceContainer{
  display: block;
  margin-inline-end: 0px;
  margin-inline-end: 0px;
  margin-left: 80px;
  margin-right: 80px;

}

/* DEMO-SPECIFIC STYLES */
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(223, 161, 223); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(223, 161, 223) }
}