body {
    background-color: black;
    color: white
}
  
  }

  body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
    

  h1{
    text-align: center;
    color: white
  }


  h5{
    color: white
  }
  p1{
    color: white
  }

  h2{
    text-align: center;
    color: violet
  }

  h3{
    text-align: center;
    color: white
  }
  
